<!DOCTYPE html>
<html>
  <head>
    <title>Rebwed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="<%= asset_path("favicon.ico") %>" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
